<nav id="hook-toolbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hook-toolbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="hook-toolbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{navigate to='index'}">
                        <span class="fa fa-home"></span>
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>